$black: rgb(12, 12, 12);
$white: #fff;

$highlight: rgb(181, 70, 164);
$highlight_light: rgb(255, 179, 244);

$blue_light: rgb(124, 124, 171);
$blue_dark: rgb(8, 10, 20);


$space: 2rem;


$ani_slow: .8s;
$ani: .4s;


$font_size_small: 10pt;
$font_size: 12pt;
$font_size_big: 22pt;
$font_size_giant: 30pt;
$font_size_baba: 50pt;